h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

a {
	color: #777777;
	text-decoration: none;
}

#header_bar{
	height:80px;
	background: #ffffff;
	position: relative;
	border-bottom: 1px solid #cccccc;
}

#your_name_box{
	height: 70px;
	width: 300px;
	background: #4aaaa5;
	color: #ffffff;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 100px;

}

#your_name_box h1{
	/*height: 70px;*/
	/*width: 300px;*/
	/*background: #4aaaa5;*/
	color: #ffffff;
	/*text-align: center;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*left: 100px;*/

}

#profile_img {
	float: left;
	margin-right: 10px;
}

#links_bar {
	height: 25px;
	width: 215px;
	float: right;
	/*left: 850px;*/
	/*top: 20px;*/
	/*color: ;*/
	padding: 20px;
}

.content_background {
    background-image: url("assets/images/wavegrid.png");
    background-color: #cccccc;
    padding-top: 29px;
	padding-left: 100px;
	padding-bottom: 30px;
	overflow: auto;
}

.content {
	width: 650px;
	background: #ffffff;
	padding: 30px;
	float: left;
	border: 1px solid #dddddd;
}

input, textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #dddddd;
}

input[type="submit"] {
	background: #4aaaa5;
	color: #ffffff;
	width: 30%;
	margin-top: 5px;
	height: 40px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: medium;
}

.connect_with_me {
	width: 200px;
	height: 145px;
	background: #ffffff;
	float: right;
	margin-right:20px;
	text-align: center;
	padding: 20px;
	border: 1px solid #dddddd;
	color: #4aaaa5;
	
}

hr {
	border-top: 1px solid #dddddd;
}

.footer_line {
	clear: both;
	height: 10px;
	background: #4aaaa5;
}

.footer {
	background: #666666;
	height: 70px;
	text-align: center;
	padding: 20px;
	margin-top: 0;
}

.portfolio_text h3 {
	background: #4aaaa5;
	height: 10px;
	color: #ffffff;
	width: 100%;
	position: absolute;
	bottom: 7px;
	padding: 20px;
	left: -25px;
	text-align: center;


}

.portfolio_image {
	width: 275px;
	height: 200px;
	float: left;
	position: relative;
	margin-right: 45px;
	overflow: hidden;
	margin-left: 5px;
	margin-bottom: 15px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}